<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/dist/app.css'/>
</head>
<body ng-app="kidsStudy" ng-cloak>

<section layout="row" flex>

    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            md-disable-backdrop
            md-whiteframe="4"
            >

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">KidsStudy Admin</h1>
        </md-toolbar>
        <md-list ng-controller="LeftCtrl as sidenav">
            <md-item>
                <a ui-sref="student" ui-sref-active="active" class="menu-link">
                    <md-item-content layout="row" layout-align="start left" >
                        <div class="inset">
                            <i class="material-icons">face</i>
                        </div>
                        <div class="inset" >
                            학생관리
                        </div>
                    </md-item-content>
                </a>
            </md-item>
            <md-item>
                <a ui-sref="paper" ui-sref-active="active" class="menu-link">
                    <md-item-content layout="row" layout-align="start center">
                        <div class="inset">
                            <i class="material-icons">work</i>
                        </div>
                        <div class="inset">
                            학습지관리
                        </div>
                    </md-item-content>
                </a>
            </md-item>
            <md-divider></md-divider>
        </md-list>

    </md-sidenav>
    <md-content flex layout-padding ui-view>


    </md-content>

</section>
</body>
<script type="text/javascript" src="/dist/bundle.vendor.js"></script>
<script type="text/javascript" src="/dist/bundle.app.js"></script>
</html>
