<!DOCTYPE html>
<html>

<head>
    <title>KidsStudyAdmin</title>
    <link rel='stylesheet' href='/dist/admin.css' />
    <script type="text/javascript" src="/dist/bundle.vendor.js"></script>
    <script type="text/javascript" src="/dist/bundle.admin.js"></script>
</head>

<body ng-app="kidsStudyAdmin" ng-cloak>
    <div class="container">

        <div class="lg-gap"></div>
        <h1 class="page-header">
            <i class="material-icons md-36">settings</i>
            KidsStudy Admin
        </h1>
        <div class="md-gap"></div>

        <section class="tab-heading">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" ui-sref="student" ui-sref-active="active">
                        <i class="material-icons">face</i><span>학생관리</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="paper" ui-sref-active="active">
                        <i class="material-icons">work</i><span>학습지관리</span>
                    </a>
                </li>
            </ul>
        </section>

        <section class="tab-content" ui-view>


        </section>

    </div>
</body>

</html>
