<!DOCTYPE html>
<html>

<head>
    <title>KidsStudy</title>
    <link rel='stylesheet' href='/dist/app.css' />
    <script type="text/javascript" src="/dist/bundle.vendor.js"></script>
    <script type="text/javascript" src="/dist/bundle.app.js"></script>
</head>

<body ng-app="kidsStudy" ng-cloak>
	<div class="wrap" ui-view>
			
	</div>
</body>

</html>
