<!DOCTYPE html>
<html>

<head>
    <title>KidsStudyAdmin</title>
    <link rel='stylesheet' href='/dist/student.css' />
    <script type="text/javascript" src="/dist/bundle.vendor.js"></script>
    <script type="text/javascript" src="/dist/bundle.student.js"></script>
</head>

<body ng-app="kidsStudyStudent" ng-cloak>
    <div class="container" ui-view>

    
    </div>
</body>

</html>
