<script type="text/ng-template" id="studentMainTemplate">
    <div class="lg-gap"></div>
    <h1 class="page-header logo">
            <i class="material-icons md-36">face</i>
            KidsStudy
    </h1>
    <div class="lg-gap"></div>
    <div class="container" ui-view="content">
        <div class="card">
            <div class="card-header">
                <h2>
                    <i class="fa fa-chart"></i>
                    <span>{{ main.currentStudent.userName }}님의 학습현황</span>
                </h2>
            </div>
            <div class="card-body">
                <div class="study-box" ng-repeat="row in main.paperGroupList">
                    <div class="study-box-header">
                        <a ui-sref="student.paperGroup({ groupId : row.groupId })">{{row.groupId}} ( {{row.groupTitle }} )</a>       
                    </div>
                    <div class="study-box-body">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:{{row.studyPercent}}%;height: 20px;" aria-valuenow="{{row.studyPercent}}" aria-valuemin="0" aria-valuemax="100">{{row.studyPercent}}%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lg-gap"></div>
</script>


<script type="text/ng-template" id="studentPaperListTemplate">
    <div class="card">
        <div class="card-header">
            <h2>
                <span>학습지 리스트</span>
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4" ng-repeat="row in content.paperList">
                    {{row.paperTitle}}
                </div>
            </div>
        </div>
    </div>
</script>